*{
    margin: 0;
    padding: 0;
}
/* App.css */

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #333;
    border-radius: 50%;
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (max-width: 768px) {
    /* Adjust the spinner size for small devices */
    .loading-spinner {
      width: 30px;
      height: 30px;
    }
  }
  
body{
    background: #221F1F;
    color: white;
}