.SignUp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #221F1F;
  }
  
  .SignUpBox {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .SignUpTitle {
    margin-bottom: 20px;
    text-align: center;
    color: #221F1F;
  }
  
  .SignUpInput {
    margin-bottom: 15px;
  }
  
  .SignUpButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust this margin as needed */
  }
  
  .SignUpButton {
    margin: 0 10px; /* Add margin between the buttons */
  }
  
  .welcometxt {
    color: #1976D2;
  }
  .SignUpLink {
    margin-top: 10px;
    text-align: center;
    color: #221F1F;
  }
  